html, body{
  width: 100%;
  height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.my-custom-chat-theme > .chat-window{
  float: right;
}
