<div class="container" ng-class="customClass">
  <div class="row chat-window col-xs-5 col-md-3" id="chat-window-1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{vm.title}}</h3>
            </div>
            <div class="col-md-4 col-xs-4" style="text-align: right;">
              <span id="minim-chat-window" class="glyphicon" ng-class="vm.chatButtonClass" ng-click="vm.toggle()"></span>
            </div>
          </div>
          <div class="panel-body msg-container-base" ng-style="vm.panelStyle" scroll-glue>
            <div class="row msg-container" ng-repeat="message in vm.messages">
              <div class="col-md-12 col-xs-12">
                <div class="messages msg-sent">
                      <p>{{message.content}}</p>
                      <strong>{{message.username}}</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <form style="display:inherit" ng-submit="vm.submitFunction(vm.writingMessage, vm.username)">
              <div class="input-group" >
                <input id="btn-input" type="text" class="form-control input-sm chat-input" placeholder="{{vm.inputPlaceholderText}}" ng-model="vm.writingMessage" />
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-irontec btn-sm" value="{{vm.submitButtonText}}" />
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
