// Chat Window Class
.chat-window {
  bottom: 0;
  float: right;
  margin-left: 10px;
  position: fixed;
  right: 0;
  z-index: 9999;

  .panel {
    border: 0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
  }
}
